@import 'ngx-toastr/toastr';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set background image globally on the html element */
  html {
    height: 100%; /* Ensure the html element takes up the full height */
    background-image: url('../src/assets/hobby_11.jpg'); /* Replace with the correct path to your image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center; /* Center the image */
    background-attachment: fixed; /* Fix the background while scrolling */
  }
  
  /* Remove margin and padding from the body */
  body {
    min-height: 30vh; /* Ensure the body takes up at least the full viewport height */
    font-family: Arial, sans-serif;
    color: white; /* Default text color */
  }
  
  /* Navbar styling */
  .navbar {
    background: rgba(234, 239, 44, 1); /* Semi-transparent navbar */
    padding: 20px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  
  .navbar .logo img {
    max-width: 120px;
    height: auto;
  }
  
  /* Navbar Links */
  .navbar-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .navbar-nav li {
    margin: 0 15px;
  }
  
  .navbar-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  
  /* You can add global styles to this file, and also import other style files */


.toast-success {
  background-color: #28a745 !important;
}

.toast-error {
  background-color: #dc3545 !important;
}
